body {
    font-family: Arial, sans-serif;
    background-color: #e5f0ea;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px; /* Ajuste o tamanho da logo */
    height: auto;
    margin-right: 10px;
  }
  
  h1 {
    color: #2b4c40;
    font-size: 24px;
  }
  
  nav {
    flex-grow: 1;
  }
  
  .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .menu li {
    margin-left: 20px;
  }
  
  .menu a {
    text-decoration: none;
    color: #2b4c40;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .menu a:hover {
    background-color: #c7d8c9;
    color: #ffffff; /* Muda a cor do texto ao passar o mouse */
  }
  
  h2 {
    color: #2b4c40;
    text-align: center;
  }
  
  .add-button {
    display: inline-block;
    margin-top: 20px; /* Espaço acima do botão */
    padding: 15px; /* Aumenta o padding para deixar o botão maior */
    font-size: 36px; /* Aumenta o tamanho da fonte */
    color: white;
    background-color: #2b4c40;
    border: none;
    border-radius: 100px; /* Bordas arredondadas */
    cursor: pointer;
    position: absolute; /* Move o botão */
    top: 100px; /* 20px abaixo do menu */
    right: 80px; /* Distância da direita */
  }
  
  .employee-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
  }
  
  .employee-card {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 10px;
    width: 100%; /* Largura da caixa */
  }
  
  .employee-photo {
    width: 50px; /* Ajuste o tamanho da foto */
    height: 50px;
    border-radius: 30%; /* Foto circular */
    margin-right: 15px;
  }
  
  .employee-info {
    flex-grow: 1;
  }
  
  .employee-actions {
    display: flex;
    align-items: center;
  }
  
  .action-icon {
    width: 24px; /* Ajuste o tamanho dos ícones */
    height: 24px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  